*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* Inherit box-sizing parent value not * */
    box-sizing: inherit;
}

html {
    // This defines what 1 rem is
    font-size: 62.5%;
}

body {
     /* All child elements inherit the border-box because of the * selector */
     box-sizing: border-box;
}